<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">SiParqueo</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a href="parqueo.html" class="nav-link">Parqueo</a></li>
        <li class="nav-item"><a href="index.html" class="nav-link">Usuarios</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Roles</a></li>
        <li class="nav-item"><a href="misionvision.html" class="nav-link">Mision/Vision</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contactenos</a></li>
    </ul>
</header>